In [4]:
import pandas as pd

In [5]:
# pd.set_option('display.max_rows',None)

In [6]:
df = pd.read_csv('D:\ML_NOTE\Stat\A_B Testing\data2.csv')

In [8]:
df.columns

Index(['id', 'date', 'time_slot', 'total_user_time_spent_in_mins',
       'total_ads_watched_in_mins', 'ads_clicked',
       'user_time_spent_versionB_in_mins', 'ads_watched_vesionB_in_mins',
       'ads_clicked_versionB', 'user_time_spent_versionA_in_mins'],
      dtype='object')

In [10]:
df['user_time_spent_versionA_in_mins'] = df['total_user_time_spent_in_mins'] - df['user_time_spent_versionB_in_mins']
df['ads_watched_vesionA_in_mins'] = df['total_ads_watched_in_mins'] - df['ads_watched_vesionB_in_mins']
df['ads_clicked_versionA'] = df['ads_clicked'] - df['ads_clicked_versionB']
df['ads_clicked_versionA']

0       7
1      19
2      10
3       5
4      12
       ..
115     0
116     2
117     4
118     6
119     2
Name: ads_clicked_versionA, Length: 120, dtype: int64

In [11]:
df

,id,date,time_slot,total_user_time_spent_in_mins,total_ads_watched_in_mins,ads_clicked,user_time_spent_versionB_in_mins,ads_watched_vesionB_in_mins,ads_clicked_versionB,user_time_spent_versionA_in_mins,ads_watched_vesionA_in_mins,ads_clicked_versionA
0,0,2020-06-01,00:00-05:59,391678,2628,14,168421,2628,7,223257,0,7
1,1,-,06:00-11:59,310658,10115,25,183288,10115,6,127370,0,19
2,2,-,12:00-17:59,481794,177,27,202353,177,17,279441,0,10
3,3,-,18:00-23:59,403677,11415,12,133213,9512,7,270464,1903,5
4,4,2020-06-02,00:00-05:59,287230,21619,20,195316,17587,8,91914,4032,12
...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,-,18:00-23:59,384058,11956,0,180507,11956,0,203551,0,0
116,116,2020-06-30,00:00-05:59,326695,25997,4,182949,17828,2,143746,8169,2
117,117,-,06:00-11:59,452055,31333,11,239589,18403,7,212466,12930,4
118,118,-,12:00-17:59,405690,1208,8,182560,1208,2,223130,0,6
119,119,-,18:00-23:59,409105,3799,7,270009,3799,5,139096,0,2

## **Problem 1: A/B Testing - Time Spent**
**Scenario:** A streaming platform launched a new version (B) of its homepage to see if it increases user engagement measured by time spent. You're tasked to determine if there's a statistically significant difference in the average time spent between version A and version B.

- H0: Âµ_A = Âµ_B (No difference in average time spent)
- H1: Âµ_A â‰  Âµ_B (There is a difference)

In [12]:
df['total_user_time_spent_in_mins'].std()

np.float64(89410.64618755526)

In [14]:
df['user_time_spent_versionB_in_mins'].std()

np.float64(73379.66190465295)

In [13]:
df['total_user_time_spent_in_mins'].var()

np.float64(7994263651.676189)

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns